html {
    background: lightblue;
}

body {
    margin: 0px;
}

h1, h2 {
    text-align: center;
}

nav {
    background-color: lightcoral;
    padding: 10px;
    display: block;
}

table {
    border-collapse: collapse;
    background-color: bisque;
    border: 1px solid;
    margin: 20px;
}

td {
    width: 100px;
    border: 1px solid;
}

input {
    margin-right: 10px;
}

.login-form {
    float: right;
}